
meta(content=keywords.join(), name='keywords')
meta(content=author, name='author')
meta(content=description, name='description')
// OGP
meta(content=title, property='og:title')
meta(content='website', property='og:type')
meta(content='http://j-repo.com', property='og:url')
meta(contnet='http://j-repo.com/public/img/jrepo-logo-minimum.png', property='og:image')
meta(content=description, property='og:description')
// Twitter
meta(content='summary', name='twitter:card')
meta(content='@jrepo_official', name='twitter:site')
meta(content=title, name='twitter:title')
meta(content='http://j-repo.com/img/jrepo-logo-minimum.png', name='twitter:image')
meta(content=description, name='twitter:description')